.top 
    background: linear-gradient(to right,#5956f4,#9b4cf7);
    height: 300px;
    .avatar,#username,.switch
      position relative;
      top: 120px;
    .avatar
      left 40px;
      width: 120px;
      height: 120px;
    #username
      top:135px;
      font-size: 45px;
      color:white;
    .switch
      top:135px
      right:20px;
      height:80px;
      line-height: 80px
.center
    width:100%;
    ul
      width:100%;
      list-style :none;
      li
        width:100%
        border-bottom: 1px solid #f2f2f2
        height :150px
        line-height: 150px
        font-size: 45px
        .icon
          position:relative;
          top:30px;
          left :40px
          width:90px;
          height: 90px;
        .myspan
          margin-left:60px
        .arrow
          margin-left:330px;
          display: inline-block;
          background-image: url('../../assets/images/arrow.jpg');
          width: 60px;
          height: 62px;
      

