.card
  margin-bottom: 15px
  padding: 30px 30px 15px 30px
  background-color: #fff
  .username
    margin-left: 20px
  .content
    padding: 10px 0
  .action
    border-top: 1px solid #efefef
    padding: 3px
    .action-count
      font-size: 26px
      padding: 0 10px
    .action-spacer
      margin: 0 15px
    .action-right
      text-align: right
